.page.art {
    display: flex;
    justify-content: space-between;

    .content {
        width: 45%;
    }

    img {
        height: 100%;
    }

    ul {
        // width: 44vh;
        list-style: none;
        height: 100%;
    }

    li {
        cursor: pointer;
        h2 {
            margin-top: 0;
            margin-bottom: 0.5vh;
            text-transform: lowercase;
            font-size: 2rem;

        }

        &.active {
            h2:before {
                content: "• ";
            }
        }

    }


}