#menu {

    display: none;
    opacity: 0;
    position: relative;

    &.active {
        display: block;
        opacity: 1;
    }

    .menu-list {
        padding: 0;

        li{
            text-decoration: none;
            list-style: none;
        }

        .animation {
            width: 65%;
        }
    }

    #email {
        width: 40%;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }


    #icons {
        position: absolute;
        right: 0;
        bottom: 7px;
        height: 35px;

        .icon {
            cursor: pointer;
            width: 40px;
            height: 100%;
            display: inline-block;
            margin-left: 40px;
            position: relative;
            bottom: 0;

            img {
                height: 100%;
            }

            &.vimeo {
                margin-left: 60px;
            }

        }
    }
}
