#movie {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .icon {
        position: absolute;
        right: 0;
        width: 70px;
    }

    .creditAnimation {
        margin: 0;
        padding: 0;
        width: 100px;
        display: flex;
        flex-direction: row;
        

        .animation {
            align-self: center;
            right: 0;
            height: 70%;

            svg {
                width: 100%;
                height: 100%;
                overflow: visible;


            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        margin: 0;

        #video {
            position: relative;
            height: 100%;
            width: 90%;
            display: flex;
            
            button {
                width: 40px;
                margin: 50% 50%;
            }

            #player {
                opacity: 0;
                transition-property: opacity;
                transition-duration: $fadeTime;

                &.active {
                    opacity: 1;
                }
            }
            
            .vimeo {
                width: 100%;
                height: 100%;
                position: absolute;
                
                iframe {
                    width: 100%;
                    height: 100%;
                }

            }

            #credits {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 78%;
                align-self: center;
                display: flex;
                flex-direction: column;

                #by h2{
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    align-self: flex-start;
                    text-transform: lowercase;
                }
        
                &.active {
                    opacity: 1;
                }
    
                ul {
                    list-style: none;
                    padding: 0;
                    text-transform: capitalize;
                }
                
            }

        }
        
    }

}