#movie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .icon {
        height: 40px;
        // align-self: end;
        // justify-self: flex-end;
        // justify-self: flex-end;
    }

    .creditAnimation {
        position: relative;
        right: 3%;

        .animation {
            height: 93%;
            
            svg {
                
                overflow: visible;
            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;

        #credits {
            display: none;
            width: auto;
            margin:  0 auto;

            #by h2{
                text-transform: lowercase;
            }
    
            &.active {
                display: inline-block;
            }

            ul {
                list-style: none;
                padding: 0
            }
            
        }

        #video {
            display: none;
            width: 90%;
            height: 100%;

            &.active {
                display: block;
            }

            button {
                width: 40px;
                margin: 50% 50%;
            }

            .vimeo {
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }

            }

        }


        
    }


}