.page.portfolio{
    
    #titles {
        overflow: hidden;
    }

    #title-list {
        // background: rebeccapurple;

        white-space: nowrap;

        .title-item {
            display: inline-block;
            // background: red;
            padding: 0;
            margin: 0;
            width: 15%;
        }

    }
    .portfolioItem {
    // opacity: 1;
    // display: block;
    // z-index: 2;
    // background: red;
    }
}