.page.portfolio{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 0;
    transition: opacity $fadeTime;

    &.active {
        opacity: 1;
    }

    
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .portfolio-fade {
        height: 100%;
    }

    #titles {
        overflow: hidden;
        height: 100%;
    }

    #title-list {
        height: 100%;
        white-space: nowrap;
        overflow: visible;
        margin: 0;

        .title-item {
            display: inline-block;
            padding: 0;
            margin: 0 0.5%;
            width: 8%;
            height:  100%;
            overflow: visible;
            cursor: $cursor-click;

            .animation {
                height: 100%;
                overflow: visible;
            }

            svg{
                height: 100%;
                // z-index: 2;
                overflow: visible;
            }

        }

    }

}