$fadeTime: 500ms;

.page.team {
    display: flex;
    display: -webkit-flex;

    // flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    

    .names {
        width: 50%;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        

        .name-item {
            // display: flex;
            display: -webkit-flex;
            flex-direction: row;
            margin-bottom: 5%;
            overflow: visible;
            // background: royalblue;
             
            // div {
            //     background: palevioletred;
            // }
            // width: 105%;

            // &.simon {
            //     background: rebeccapurple;
            //     // width: 40%;

                
            //     svg {
            //         background: red;
            //         // width: 20%;

            //         g {
            //             background: palegoldenrod;
            //         }
            //     }
            // }
            
            .animation {
                
                display: inline-block;
                // width: 105%;
                margin-bottom: 5%;
                // margin-right: 4%;
                align-self: center;
                overflow: visible;

            }
            
            .icon.exit {
                flex-shrink: 0;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }

    }
}

    .content {
        width: 45%;
        height: 90%;
        margin: 0;
        padding: 0;

        .teamContent {
            opacity: 0;
            transition-property: opacity;
            transition-duration: $fadeTime;
            height: 100%;
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;

            &.active {
                opacity: 1;
            }
            
            img {
                right: 0;
                height: 86%;
                opacity: 1;
                transition-property: opacity;
                transition-duration: $fadeTime;
            }

            .details {
                position: absolute;
                top: 0;
                opacity: 0;
                margin: 0;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 6%;
        
                    li {
                        padding: 0;
                        margin: 0;
                        
                        h2 {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            &.showDetails {

                .details {
                    opacity: 1;
                }

                img {
                    opacity: 0;
                }
            }

        }

        

    }

}