$fadeTime: 500ms;

.page.team {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

    .names {
        width: 50%;
        min-width: 50%;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

        .name-item {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            margin-bottom: 5%;
            overflow: visible;

            .icon {
                margin-bottom: 2.2rem;
            }
            
            .animation {
                display: inline-block;
                margin-bottom: 5%;
                align-self: center;
                overflow: visible;
            }
    }
}

    .content {
        height: 90%;
        margin: 0;
        padding: 0;
        
        .teamContent {
            opacity: 0;
            transition-property: opacity;
            transition-duration: $fadeTime;
            height: 100%;
            width: 45%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;

            &.active {
                opacity: 1;
            }

            .bucket {
                max-height: 86%;
            }
            
            img {
                right: 0;
                max-width: 100%;
                width: auto;
                height: auto;
                opacity: 1;
                transition-property: opacity;
                transition-duration: $fadeTime;
            }

            .details {
                position: absolute;
                top: 0;
                opacity: 0;
                margin: 0;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 6%;
        
                    li {
                        padding: 0;
                        margin: 0;
                        
                        h2 {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            &.showDetails {

                .details {
                    opacity: 1;
                }

                img {
                    opacity: 0;
                }
            }

        }

    }

}