button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    text-transform: lowercase;
}

#movie {
	width: 100%;
	height: 100%;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity $fadeTime;
	position: relative;

	&.active {
		opacity: 1;
	}

	.content {
		width: 100%;
	}

	#video {
		width: 100%;
		padding: 0;
		margin: 0;
		align-self: center;
		flex-grow: 3;
		// margin-top: 50%;
		#player {
			width: 100%;

			.vimeo {
				width: 100%;		
				margin: 0;
				padding: 0;

				.vimeo-image {
					width: 100%;
					margin: 0;
					padding: 0;
				}

				.vimeo-embed {
					width: 100%;
					margin: 0;
					padding: 0;

					position: relative;
					padding-bottom: 56.25%; /* 16:9 */
					padding-top: 25px;
					height: 0;

					iframe {
						width: 100%;
						padding: 0;
						margin: 0;

						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}

				}
			}
		}

	}

	// #video {
	// 	width: 100%;
	// 	// height: 100%;
	// 	padding: 0;
	// 	margin: 0;
	// 	align-self: center;
	// 	flex-grow: 3;
	// 	margin-top: 50%;
	// 	background: rebeccapurple;

	// 	iframe {
	// 		width: 100%;

	// 		#player {
	// 			width: 100%;

	// 			.vimeo {
	// 				width: 100%;
	// 				background: purple;
	// 			}

	// 		}

	// 	}

	// }

	.icon {
		// order: 1;
		// align-self: flex-start;
		flex-grow: 0;
		top: 0;
		position: absolute;
	}
}

@media screen and (orientation: portrait){
	html {
		overflow-x: hidden !important;
	}
}

@media screen and (orientation: landscape){

	#movie {
		flex-direction: column-reverse;
	
		#video {
			align-self: flex-start;
			margin: 0;
			padding: 0;
			#player {
				width: 100%;

				.vimeo {
				width: 100%;				
	
					.vimeo-embed {
						width: 100%;				

	
						iframe {
							width: 100% !important;				

						}
	
					}
				}
			}
	
		}
	}
}